.box-sign {
    -webkit-user-select: none;
    user-select: none;
    position: absolute;
    transition: box-shadow 0.2s;
    z-index: 2;

    &__content {
        background-color: rgba(255, 255, 255, 0.5);
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 3px solid $blue;
        position: relative;

        &:hover {
            border: 3px dashed $blue;

            .box-sign__content__text {
                opacity: .7;
            }
        }

        &__canvas {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            &--active{
                z-index: 3;
            }
        }


        &__text {
            background-color: rgba(249, 249, 249, 0.498);
            flex-grow: 1;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1;
            text-shadow:  0px  0px   10px rgb(255, 255, 255) ;
        }
    }

    &__asignator {
        position: absolute;
        bottom: 100%;
        left: 0;
        width: 100%;
        background-color: #ff8181;
        padding: 0.3rem;
        box-sizing: border-box;
    }

    &__options {
        position: absolute;
        top: 0;
        width: 34.46%;
        right: 100%;
        height: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        overflow: hidden;
        background-color: white;
        border-bottom: 1px solid $gray-dark;
        border-left: 1px solid $gray-dark;
        border-top: 1px solid $gray-dark;

        &__icon {
            object-fit: contain;
            padding: 14%;
            width: 49%;
            box-sizing: border-box;
            filter: invert(1);
            transition: all ease-out 0.2s;
            background-color: black;
            cursor: pointer;

            &:hover {
                filter: invert(0);
                background-color: $blue;

            }

            &--active {
                filter: none;

                background-color: $blue;
            }
        }
    }


    &__buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        top: 100%;
        left: -38%;
        width: calc(100% + 38%);
        height: 2.5rem;

        img {
            width: 28%;
            object-fit: contain;
            height: 1rem;
            box-sizing: border-box;
            padding: 3px;
        }

        button {
            width: 5rem;
            min-width: 5rem;
            max-width: 5rem;
            height: 2rem;
            min-height: 2rem;
            max-height: 2rem;
            padding: 0rem;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            font-size: 0.76rem;
        }

        &__rotation {
            cursor: pointer;
        }

        &__gray {
            background-color: $gray;
            color: black;

            &:hover {
                background-color: $gray-hover;
            }
        }

        &__blue {
            background-color: $blue;
            color: white;

            &:hover {
                background-color: $blue-hover;
            }
        }

        &__delete {
            background-color: red;
            border-radius: 50%;
            color: white;
            width: 2rem !important;
            min-width: 2rem !important;
            max-width: 2rem !important;
            height: 2rem !important;
            min-height: 2rem !important;
            max-height: 2rem !important;
            padding: 0rem;

            &:hover {
                background-color: rgb(199, 0, 0);
            }
        }
    }
}